---
import Layout from "../../layouts/Layout.astro";
import { getLatestLaunches, getLaunchById } from "../../services/spacex";

// export const prerender = false

//Recuperamos el Id de la ruta con la propiedad params
const { id } = Astro.params;

let launch;

if (id) {
  launch = await getLaunchById({ id });
}

//FORMA ESTATICA-> SOLO SE EJECUTA EN EL CLIENTE
//Cargamos las paginas posibles que podremos servir.
//Un numero finito de paginas dinamicas que se renderiza dependiendo el Id.
//Para lo cual primero debemos de conoser todos Id's posibles.
//Por lo cual solo sierve cuando sean un numero finito de paginas. no lo se unos 300.
export async function getStaticPaths() {
  const launches = await getLatestLaunches();
  return launches.map(({ id }) => ({ params: { id } }));
}
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex gap-y-4 flex-col">
    <img class="w-52 h-auto" src={launch?.links.patch.small} alt={launch?.name} />
    <h2 class="text-4xl text-white font-bold">
      Launch # {launch?.flight_number}
    </h2 >
    <p class="text-lg">
      {launch?.details}
    </p>
  </article>
</Layout>
