---
interface Props {
  description: string;
  title: string;
  price: number;
  content: string[];
  message: string;
}
const { content, description, price, title, message } = Astro.props;
const phoneNumber = "+523332579424"; // Reemplaza con el número de teléfono real
const encodedMessage = encodeURIComponent(message);
const whatsappLink = `https://wa.me/${phoneNumber}?text=${encodedMessage}`;
---

<div
  class="relative z-0 max-w-sm my-8 border border-gray-00 rounded-lg sm:my-5 md:-mr-4 border-teal-400"
>
  <div
    class="overflow-hidden text-black bg-white border-t border-gray-100 rounded-lg shadow-sm"
  >
    <div
      class="block max-w-sm px-8 mx-auto mt-5 text-sm text-left text-black sm:text-md lg:px-6"
    >
      <h3 class="p-3 text-lg font-bold tracking-wide text-center uppercase">
        {title}<span class="ml-2 font-light">Plan</span>
      </h3>
      <h4
        class="flex items-center justify-center pb-6 text-4xl font-bold text-center text-gray-900"
      >
        <span class="mr-1 -ml-2 text-lg text-gray-700">$</span>{price}
      </h4>
      <p class="text-sm text-gray-600">
        {description}
      </p>
    </div>

    <div class="flex flex-wrap px-6 mt-8">
      <ul>
        {
          content.map((text) => {
            return (
              <li class="flex items-center">
                <div class="p-2 text-green-500 rounded-full fill-current">
                  <svg
                    class="w-6 h-6 align-middle"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />
                    <polyline points="22 4 12 14.01 9 11.01" />
                  </svg>
                </div>
                <span class="ml-3 text-lg text-gray-700">{text}</span>
              </li>
            );
          })
        }
      </ul>
    </div>
    <div class="flex items-center p-8 uppercase">
      <a
        target="_blank"
        href={whatsappLink}
        class="block w-full px-6 py-4 mt-3 text-lg font-semibold text-center text-white bg-teal-500 rounded shadow-sm hover:bg-black"
        >Eligue este plan</a
      >
    </div>
  </div>
</div>
