---
import Imaga1 from "../../images/consultorio/1.jpeg";
import Imaga2 from "../../images/consultorio/2.jpeg";
import Imaga3 from "../../images/consultorio/3.jpeg";
import Imaga4 from "../../images/consultorio/4.jpeg";
import Imaga5 from "../../images/consultorio/5.jpeg";
import Imaga6 from "../../images/consultorio/6.jpeg";
import Imaga7 from "../../images/consultorio/7.jpeg";
import Imaga8 from "../../images/consultorio/8.jpeg";
import Imaga9 from "../../images/consultorio/9.jpeg";
import Imaga10 from "../../images/consultorio/10.jpeg";
import Imaga11 from "../../images/consultorio/11.jpeg";
---

<section class="text-gray-600 body-font" id="clinica">
  <div class="px-2 py-0 pb-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-[#0245A3] font-cursive"
      >
        Nuestra clínica
      </h2>

      <p
        class="mb-8 leading-relaxed text-[20px] text-pretty font-semibold text-black px-8 sm:px-0"
      >
        En <strong
          class="title-font sm:text-2xl text-1xl mb-4 font-medium text-[#0245A3] font-cursive"
          >Physical Rehabilitation</strong
        >, nos enorgullecemos de ofrecer un entorno cómodo y moderno para
        nuestros pacientes. Nuestras instalaciones están diseñadas para
        proporcionar un ambiente acogedor donde te sientas bienvenido desde el
        momento en que entras por la puerta. Desde la recepción hasta las salas
        de tratamiento, cada espacio ha sido cuidadosamente diseñado para tu
        comodidad y tranquilidad.
      </p>
    </div>
    <div class="flex flex-wrap -m-4 relative z-0">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img
            alt="gallery"
            class="absolute inset-0 w-full h-full object-cover object-center"
            src={Imaga1.src}
          />
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
          >
            <h2
              class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1"
            >
              THE SUBTITLE
            </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              Shooting Stars
            </h1>
            <p class="leading-relaxed">
              Photo booth fam kinfolk cold-pressed sriracha leggings jianbing
              microdosing tousled waistcoat.
            </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img
            alt="gallery"
            class="absolute inset-0 w-full h-full object-cover object-center"
            src={Imaga2.src}
          />
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
          >
            <h2
              class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1"
            >
              THE SUBTITLE
            </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              The Catalyzer
            </h1>
            <p class="leading-relaxed">
              Photo booth fam kinfolk cold-pressed sriracha leggings jianbing
              microdosing tousled waistcoat.
            </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img
            alt="gallery"
            class="absolute inset-0 w-full h-full object-cover object-center"
            src={Imaga3.src}
          />
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
          >
            <h2
              class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1"
            >
              THE SUBTITLE
            </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              The 400 Blows
            </h1>
            <p class="leading-relaxed">
              Photo booth fam kinfolk cold-pressed sriracha leggings jianbing
              microdosing tousled waistcoat.
            </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img
            alt="gallery"
            class="absolute inset-0 w-full h-full object-cover object-center"
            src={Imaga4.src}
          />
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
          >
            <h2
              class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1"
            >
              THE SUBTITLE
            </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              Neptune
            </h1>
            <p class="leading-relaxed">
              Photo booth fam kinfolk cold-pressed sriracha leggings jianbing
              microdosing tousled waistcoat.
            </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img
            alt="gallery"
            class="absolute inset-0 w-full h-full object-cover object-center"
            src={Imaga5.src}
          />
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
          >
            <h2
              class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1"
            >
              THE SUBTITLE
            </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              Holden Caulfield
            </h1>
            <p class="leading-relaxed">
              Photo booth fam kinfolk cold-pressed sriracha leggings jianbing
              microdosing tousled waistcoat.
            </p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img
            alt="gallery"
            class="absolute inset-0 w-full h-full object-cover object-center"
            src={Imaga6.src}
          />
          <div
            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
          >
            <h2
              class="tracking-widest text-sm title-font font-medium text-yellow-500 mb-1"
            >
              THE SUBTITLE
            </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              Alper Kamu
            </h1>
            <p class="leading-relaxed">
              Photo booth fam kinfolk cold-pressed sriracha leggings jianbing
              microdosing tousled waistcoat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
